html {
  background-color: #444242;
}

h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #444242;
  margin: 0;
}

blockquote {
  font-family: "IBM Plex Mono", monospace;
  border-left: 25px double #08d6be;
  border-bottom: 25px double #08d6be;
  border-radius: 60px 0 0 60px;
  background: #ff1616;
}

.even-pane {
  font-family: "IBM Plex Mono", monospace;
  border-left: 25px dashed #ff1616;
  border-bottom: 25px double #ff1616;
  border-radius: 0 60px 60px 0;
  background: #08d6be;
}

.top-banner {
  background-color: #fff;
  border-left: 25px double #08d6be;
  border-right: 25px double #ff1616;
  border-bottom: 25px dashed #ff1616;
  border-radius: 60px 60px 0 0;
}

.pick-word {
  font-family: "Permanent Marker", cursive;
  color: #08d6be;
}

.colourflip-word {
  font-family: "Permanent Marker", cursive;
  color: #ff1616;
}

.reference {
  font-family: "Permanent Marker", cursive;
  color: #fff;
}
